p {
    color: #234fa7;
}

a {
    color: blueviolet;
}

p.title {
    color: black;
}

h1 {
    font-weight: bold;
    color: black;
    background: rgb(44, 120, 44, 0.5);
	text-shadow: rgb(253, 0, 0) 2px 0 10px;
    border-bottom: 7px solid rgb(35, 33, 33);
    border-left: 3px solid rgb(35, 33, 33);
}

div#top {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 250px 250px;
	grid-gap: 10px;
	padding: 5px 5px 5px 5px;
	width: 2000px;
}

div#top > div {
	padding: 5px;
	background-color: #ffefaf;
}

div#sub {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 300px 300px;
	grid-gap: 10px;
	padding: 5px 5px 5px 5px;
	width: 1500px;
}

div#sub > div {
	padding: 5px;
	background-color: #b0f0ec;
}